doctype html
html(leng="ko")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title= headTitle
		link(rel="stylesheet", href="/css/base.css")
	body
		.wrapper(style="padding: 3rem 0; max-width: 1200px; margin: 0 auto;")
			img.icon(src=`/img/${code}.png`, alt=`${code}error` style="margin-bottom: 1rem; max-width: 120px;")
			.code(style="font-size: 2rem; color: #333; margin-bottom: 1rem;")= `${code} Error` 
			.coment(style="font-size: 1.25rem; color: #777; margin-bottom: 1rem")= msg
			a.link(href="/") 메인페이지로 돌아가기